<h2>Creado por Victo Giron</h2>
<p>Este parrafo tiene la fuente Nerko One, aun que no es un parrafo pero sive</p>

<ul>
  <li><a href="https://www.google.com" target="_blank">Google</a></li>
  <li><a href="https://www.wikipedia.org" target="_blank">Wikipedia</a></li>
  <li><a href="https://www.github.com" target="_blank">GitHub</a></li>
</ul>

<table border="1">
  <tr>
    <th>Producto</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone 10</td>
    <td>2</td>
    <td>$2.000.000</td>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table>

<router-outlet />
