.body{
    background-color: brown;
    width: 100%;
}

.list{
    width: 200px;
    height: 300px;
}

.person-card {
  text-align: center;
  margin: auto;
}

.person-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
